/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
@font-face {
  font-family: 'Italic';
  src: url("../fonts/AvenirLT-BookOblique.woff2") format("woff2"), url("../fonts/AvenirLT-BookOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Black';
  src: url("../fonts/AvenirLT-Black.woff2") format("woff2"), url("../fonts/AvenirLT-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Book';
  src: url("../fonts/AvenirLT-Book.woff2") format("woff2"), url("../fonts/AvenirLT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Medium';
  src: url("../fonts/AvenirLT-Medium.woff2") format("woff2"), url("../fonts/AvenirLT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Heavy';
  src: url("../fonts/AvenirLTStd-Heavy.woff2") format("woff2"), url("../fonts/AvenirLTStd-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Light';
  src: url("../fonts/AvenirLTStd-Light.woff2") format("woff2"), url("../fonts/AvenirLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
h1 {
  font-family: 'Light';
  font-size: 35px; }

h2 {
  font-family: 'Light';
  font-size: 25px;
  font-weight: 300; }

h3 {
  font-family: 'Book';
  font-size: 20px;
  font-weight: 500; }

li {
  font-family: 'Light';
  font-size: 16px; }

h5 {
  font-family: 'Black';
  font-size: 10px;
  font-weight: 900;
  line-height: 14px;
  color: #A2A2A2; }

p {
  font-family: 'Light';
  font-size: 14px;
  font-weight: 500; }

/*@import 'delete';*/
textarea:focus, input:focus {
  outline: none; }

button {
  letter-spacing: 2px; }

.white-button {
  letter-spacing: 2px; }

.backText {
  font-family: "Medium";
  letter-spacing: 1px; }

#bigTitle {
  font-size: 35px;
  margin-bottom: 15px; }

#subTitle {
  font-family: 'Book';
  letter-spacing: 1px;
  color: #000; }

#dim, #dim2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  display: none;
  opacity: 0; }

#dimClick, #dimClick2 {
  width: 100%;
  height: 100%; }

#quickView {
  background: #fff;
  max-height: 500px;
  border-radius: 7px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  letter-spacing: 1px;
  display: grid;
  align-content: space-between; }
  #quickView p {
    font-size: 18px;
    font-family: 'Book';
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px 0 20px; }

#confirm {
  background: #fff;
  width: 420px;
  height: 300px;
  border-radius: 7px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  letter-spacing: 1px;
  display: grid;
  align-content: space-between; }
  #confirm img {
    width: 55px;
    margin: 0 auto; }
  #confirm h2 {
    text-align: center;
    margin-top: 20px; }
  #confirm p {
    font-size: 18px;
    text-align: center;
    font-family: 'Book';
    margin-bottom: 40px;
    padding: 0 20px 0 20px; }

#quickView {
  display: none;
  position: fixed;
  width: 520px;
  max-height: 460px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  letter-spacing: 1px; }
  #quickView #desc {
    text-align: center;
    clear: both;
    display: block;
    line-height: 24px;
    font-size: 16px;
    padding: 20px 20px; }

#quickView h2, #quickView p {
  margin-bottom: 20px;
  padding-right: 20px; }

#itemImg, #itemInfo {
  width: 50%; }

#itemImg {
  float: left; }
  #itemImg img {
    width: 70%;
    margin-left: 30px; }

#itemInfo {
  float: right;
  text-align: left; }
  #itemInfo #number {
    text-align: left;
    padding: 0; }

.ignoreDelete {
  font-size: 18px;
  font-family: 'Book';
  color: #006F3B;
  text-align: right;
  padding: 20px 20px 0 0; }

.xButt {
  font-size: 18px;
  font-family: 'Book';
  color: #006F3B;
  text-align: right;
  padding: 20px;
  display: block; }

.confirmEdit {
  background-color: #ECB900;
  height: 50px;
  display: grid;
  width: 100%;
  border-radius: 0  0 7px 7px;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Book';
  position: absolute;
  bottom: 0; }

.confirmDelete {
  background-color: #F34C18;
  height: 50px;
  display: grid;
  width: 100%;
  border-radius: 0  0 7px 7px;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Book'; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%; }

#navcon {
  position: fixed;
  width: 25%;
  display: grid;
  height: 100vh;
  box-shadow: 0px 0px 15px #333333; }
  #navcon nav {
    margin: 0; }
  #navcon nav ul a li {
    line-height: 60px;
    display: inline;
    padding-left: 30px; }
  #navcon nav ul a {
    display: block;
    color: #3C3B3B;
    padding-left: 50px;
    background: none;
    box-shadow: none;
    display: flex;
    display: flex;
    align-items: center; }

#adminNav a:hover {
  background: linear-gradient(324.5deg, #006F3B 0%, #00937B 81.61%, #009782 91.08%, #009B89 100%);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.15), 0 0 16px 0 rgba(0, 0, 0, 0.23);
  color: #fff; }
  #adminNav a:hover .st0 {
    fill: #ffffff; }
  #adminNav a:hover .st1 {
    stroke: #fff; }

.navicons {
  width: 30px; }

.st0 {
  fill: #A2A2A2; }

.st1 {
  fill: none;
  stroke: #A2A2A2;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

#fixture {
  fill: #fff; }

#userinfo {
  display: grid;
  background: linear-gradient(134.06deg, #00CBBE 0%, #007A4A 88.18%, #006F3B 100%);
  padding: 20px;
  color: #fff; }
  #userinfo img, #userinfo div {
    justify-self: center;
    text-align: center;
    align-self: center; }
  #userinfo div p {
    font-family: 'Light';
    font-size: 16px;
    letter-spacing: 1px; }

#userName {
  margin-bottom: 10px;
  letter-spacing: 1px; }

.image-cropper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 60px;
  border: 2px solid #ffffff;
  padding: 1px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center; }
  .image-cropper img {
    height: 100%;
    width: auto; }

#search {
  margin-top: 20px;
  justify-self: center;
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative; }
  #search input {
    outline: none;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px 10px 40px;
    border-radius: 100px;
    border: solid 2px #009B60;
    background-color: rgba(243, 76, 24, 0);
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.15); }

#searchfeild::placeholder {
  font-size: 14px;
  opacity: 0.5; }

#searchicon {
  width: 16px;
  position: absolute;
  margin-left: 12px; }

#leftarrow {
  height: 16px;
  margin-right: 10px;
  float: left; }

#result {
  margin: 0 auto;
  left: 15px;
  display: none;
  position: absolute;
  top: 100%;
  width: 80%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
  #result div {
    padding: 5px; }
    #result div p {
      line-height: 30px;
      color: #009B60; }

#logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  #logout p {
    color: #A2A2A2;
    font-family: 'Medium';
    font-size: 16px;
    line-height: 0px;
    font-weight: 900;
    letter-spacing: 1px;
    display: inline; }

#logoutArrow {
  color: #009B60;
  padding-right: 10px; }

#content {
  padding: 5% 10%; }
  #content .section-head {
    width: 100%;
    padding: 50px 0 80px 0;
    display: grid;
    grid-template-columns: 4fr 1fr; }
    #content .section-head h5 {
      font-size: 16px;
      line-height: 20px; }
    #content .section-head .green {
      color: #009B60;
      font-size: 18px; }
    #content .section-head a#back-button {
      color: #A2A2A2 !important;
      line-height: 20px; }
  #content .button, #content .green-button, #content .white-button {
    width: 15vw;
    height: 40px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 40px; }
  #content .green-button {
    background: linear-gradient(134.06deg, #00CBBE 0%, #007A4A 88.18%, #006F3B 100%);
    color: #fff;
    border: none; }
  #content .white-button {
    background: #fff;
    border: 2px solid #009B60;
    color: #009B60; }

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #00CBBE 0%, #009B60 100%); }
  .add-button a img {
    padding-top: 4px; }

#itemListTitles {
  border-bottom: 2px solid rgba(60, 59, 59, 0.05); }

.list ul li {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; }
  .list ul li p {
    text-align: right;
    color: #A2A2A2;
    font-size: 18px;
    line-height: 40px; }
.list ul li p:first-child {
  text-align: left !important; }
.list a {
  text-decoration: none; }
.list .tool-item {
  box-sizing: border-box;
  padding: 15px 0px 15px 0px;
  border-bottom: 2px solid rgba(60, 59, 59, 0.05); }
  .list .tool-item .item-name, .list .tool-item .edit, .list .tool-item .delete {
    color: #009B60;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500; }
  .list .tool-item .edit {
    color: #ECB900;
    text-align: right; }
  .list .tool-item .delete {
    color: #F34C18;
    text-align: right; }

#add, #edit {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 5%;
  grid-template-areas: "name number" "media media" "desc desc"; }
  #add .form-control, #edit .form-control {
    box-sizing: border-box;
    border: none;
    color: #009B60;
    border-bottom: 1px solid #A2A2A2;
    width: 100%;
    font-size: 16px; }
  #add textarea#desc.form-control, #edit textarea#desc.form-control {
    border: 1px solid #A2A2A2;
    font-family: 'Medium';
    font-size: 16px;
    font-weight: 500;
    padding: 20px 20px 0 20px;
    height: 100%; }
  #add input#media.form-control, #edit input#media.form-control {
    color: #ECB900;
    font-weight: 100;
    padding-bottom: 10px; }
  #add p, #edit p {
    color: #A2A2A2;
    padding: 3% 0; }
  #add .add-name, #edit .add-name {
    grid-area: name; }
  #add .add-number, #edit .add-number {
    grid-area: number; }
  #add .add-media, #edit .add-media {
    grid-area: media;
    margin-bottom: 30px; }
  #add .add-desc, #edit .add-desc {
    grid-area: desc;
    margin-bottom: 60px; }
  #add button.green-button, #edit button.green-button {
    justify-self: center;
    align-self: flex-end; }
  #add a.white-button, #edit a.white-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Medium';
    justify-self: center;
    align-self: flex-end;
    color: #F34C18;
    border-color: #F34C18; }

#edit {
  grid-row-gap: 30px;
  grid-template-areas: "name number" "desc media"; }
  #edit .add-media .image-hover {
    position: relative; }
    #edit .add-media .image-hover img {
      max-width: 370px;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      display: block; }
    #edit .add-media .image-hover .edit-link {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      display: none;
      cursor: pointer; }
      #edit .add-media .image-hover .edit-link .links {
        top: 45%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        position: absolute;
        display: block; }
        #edit .add-media .image-hover .edit-link .links input[type=file] {
          display: none;
          margin: 10px; }
        #edit .add-media .image-hover .edit-link .links label[for=media] {
          color: #009B60; }
        #edit .add-media .image-hover .edit-link .links label, #edit .add-media .image-hover .edit-link .links a {
          display: inline-block;
          font-family: 'Medium';
          font-size: 30px;
          padding: 0 30px;
          cursor: pointer;
          margin: 20px; }
        #edit .add-media .image-hover .edit-link .links label {
          color: #ECB900; }
        #edit .add-media .image-hover .edit-link .links a {
          color: #F34C18; }
  #edit .add-media .image-hover:hover .edit-link {
    display: block;
    border: 1px solid #A2A2A2;
    background-color: #fff;
    opacity: 0.9; }

/*# sourceMappingURL=main.css.map */
