// colors
$text: #A2A2A2;
$darkgrey: #3C3B3B;
$blue: #009B89;
$lightgreen: #009B60;
$jegreen: #006F3B;
$jered: #F34C18;
$yellow: #ECB900;
$grad: linear-gradient(90deg, #00CBBE 0%, #006F3B 100%);
$background: linear-gradient(134.06deg, #00CBBE 0%, #007A4A 88.18%, #006F3B 100%);
