@import 'reset';
@import 'colours';
@import 'fonts';
/*@import 'delete';*/

@mixin translate($percX, $percY) {
  -webkit-transform: translate($percX, $percY);
  -ms-transform: translate($percX, $percY);
  transform: translate($percX, $percY);
}

body.quickview-enabled {
  height: 100%;
  overflow: hidden;
}

textarea:focus, input:focus{
    outline: none;
}
button{
  letter-spacing: 2px;
}

.white-button{
  letter-spacing: 2px;
}

.backText{
  font-family: "Medium";
  letter-spacing: 1px;
}

#bigTitle{
  font-size: 35px;
  margin-bottom: 15px;
}

#subTitle{
  font-family: 'Book';
  letter-spacing: 1px;
  color: #000;
}

#dim, #dim2{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  z-index: 99;
  display: none;
  opacity: 0;
}


#dimClick, #dimClick2{
  width: 100%;
  height: 100%;
}

#quickView{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 520px;
  // height: auto;
  // min-height: 0px;
  max-height: 460px;
  @include translate(-50%, -50%);
  // margin: auto auto;
  z-index: 99;
  letter-spacing: 1px;
  align-content: space-between;
  display: none;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
  overflow: hidden;
  overflow-wrap: break-word;
  overflow-y: auto;

  #itemname {
    margin-bottom: 20px;
    padding-right: 20px;
  }

  p {
    font-size: 18px;
    font-family: 'Book';
    text-align: center;
    // margin-bottom: 40px;
    padding: 0 20px 0 20px;
    }

  .confirmEdit {
    background-color: $yellow;
    height: 50px;
    display: grid;
    width: 100%;
    border-radius: 0  0 7px 7px;
    align-content: center;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Book';
    // margin: 10% auto 0% auto;
    // position: relative;
    // bottom: 0;
    // top: 100%;
    // bottom: -25%;
  }

  #desc{
    text-align: center;
    clear: both;
    display: block;
    line-height: 24px;
    font-size: 16px;
    padding: 20px 20px 40px 20px;
    // margin-bottom: 40px;
  }

}

#confirm{

  background: #fff;
  width: 420px;
  height: 300px;
  border-radius: 7px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  letter-spacing: 1px;
  display: grid;
  align-content: space-between;

  img{
    width: 55px;
    margin: 0 auto;
  }

  h2{
    text-align: center;
    margin-top: 20px;
  }

  p{
    font-size: 18px;
    text-align: center;
    font-family: 'Book';
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
    }

}

// #quickView{
//
//   display: none;
//   position: fixed;
//   width: 520px;
//   // min-height: 0;
//   max-height: 460px;
//   top:0;
//   left: 0;
//   background-color: #fff;
//   border-radius: 7px;
//   box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
//   bottom: 0;
//   right: 0;
//   margin: auto;
//   z-index: 99;
//   letter-spacing: 1px;
//
//
//   #desc{
//     text-align: center;
//     clear: both;
//     display: block;
//     line-height: 24px;
//     font-size: 16px;
//     padding: 20px 20px 40px 20px;
//     // margin-bottom: 40px;
//   }
// }

// #quickView{
//   h2,p{
//     margin-bottom: 20px;
//     padding-right: 20px;
//   }
//
// }


#itemImg, #itemInfo{
   width: 50%;
}

#itemImg{

  img{
    width: 70%;
    margin-left: 30px;

  }
  float: left;
}

#itemInfo{
  float: right;
  text-align: left;
  #number {
    text-align: left;
    padding: 0
  }
}

.ignoreDelete{
    font-size: 18px;
    font-family: 'Book';
    color: $jegreen;
    text-align: right;
    padding: 20px 20px 0 0;
}

.xButt{

    font-size: 18px;
    font-family: 'Book';
    color: $jegreen;
    text-align: right;
    padding: 20px;
    display: block;
}



.confirmDelete{
  background-color: $jered;
  height: 50px;
  display: grid;
  width: 100%;
  border-radius: 0  0 7px 7px;
  align-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Book';
}

a{
  text-decoration: none;
}

.hidden {
  display: none;
}

//Container Styling

#container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
}


#container-login{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
#welcome-con {
    display: grid;
    background-image: url('../images/bearings_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    #welcome-text{
      width: 80%;
      text-align: center;
      align-self: end;
      justify-self: center;

      h1{
        font-size: 50px;
      }
      h1,h3{
        color: #fff;
        line-height: 60px;
        text-align: left;
      }
    }
    #logout{
      padding: 4%;
      align-self: end;
      justify-self: start;
      p {
        color: #fff;
      }
      #leftarrow{
        transform: rotate(90deg);
        height: 10px;
      }
    }
  }

  #adminLoginCon{
    a{
      display: inline-block;
    }
  }
  #dashboard{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 4%;
    padding: 4%;
    .dash-section{
      display: grid;
      grid-template-columns: 20% 80%;
      overflow: hidden;
      border-radius: 10px;
      .dash-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        img {
          width: 40%;
        }
      }
    }
    .dash-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid $text;
      border-bottom: 1px solid $text;
      border-right: 1px solid $text;
      border-radius: 0 10px 10px 0;
      h3{
        padding-left: 3%;
        font-weight: 900;
        color: $blue;
      }
  }
}


//Navigation Styling

#navFixed{
  #navcon{
    position: fixed;
    overflow-y: auto;
    width: 25%;
    display: grid;
    height: 100vh;
    box-shadow: 0px 0px 15px #333333;

    &::-webkit-scrollbar {
      display: none;
    }

    #adminNav {
      margin: 0;
    }

    #adminNav ul a li{
      line-height: 60px;
      display: inline;
      // padding-left: 30px;
      padding-left: 10%;
    }

    #adminNav ul a{
      display: block;
      color: $darkgrey;
      // padding-left: 50px;
      padding-left: 15%;
      background: none;
      box-shadow: none;
      display: flex;
      display: flex;
      align-items: center;
    }
    #adminNav ul a:hover{
      background: linear-gradient(324.5deg, #006F3B 0%, #00937B 81.61%, #009782 91.08%, #009B89 100%);
      box-shadow: 0 4px 7px 0 rgba(0,0,0,0.15), 0 0 16px 0 rgba(0,0,0,0.23);
      color: #fff;

      .st0{
      fill:#ffffff;
      }

      .st1{
        stroke: #fff;
      }

    }
  }
}

.navicons{
  width: 30px;
}

.st0{
  fill:#A2A2A2;
}

.st1{
  fill:none;
  stroke:#A2A2A2;
  stroke-width:15;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  }


#fixture{
  fill: #fff;
}

#userinfo{
  display: grid;
  background: linear-gradient(134.06deg, #00CBBE 0%, #007A4A 88.18%, #006F3B 100%);
  padding: 20px;
  color: #fff;

  img, div{
    justify-self: center;
    text-align: center;
    align-self: center;
  }

  div p{
    font-family: 'Light';
    font-size: 16px;
    letter-spacing: 1px;
  }

}

#userName{
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.image-cropper {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 60px;
    border: 2px solid #ffffff;
    padding: 1px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    img{
      height: 100%;
      width: auto;
    }
}

#search{
  margin-top: 20px;
  justify-self: center;
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  input[type=search]{
    outline: none;
    -webkit-appearance: none;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px 10px 40px;
    margin: 0;
    border-radius: 100px;
    border: solid 2px $lightgreen;
    background-color: rgba(243,76,24,0);
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.15);
    }
    #searchfeild::placeholder{
      font-size: 14px;
      opacity: 0.5;
    }
    #searchicon{
      width: 16px;
      position: absolute;
      margin-left: 12px;
    }
    #result {
      // @extend #search;
      margin: 0 auto;
      left: 15px;
      display: none;
      position: absolute;
      top: 100%;
      width: 80%;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      div {
        padding: 5px;
        p {
          line-height: 30px;
          color: $lightgreen;
        }
      }
    }
  }





#leftarrow{
  height: 16px;
  margin-right: 10px;
  float: left;
}

#logout{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  p{
    color: $text;
    font-family: 'Medium';
    font-size: 16px;
    line-height: 0px;
    font-weight: 900;
    letter-spacing: 1px;
    display: inline;
  }
}

#logoutArrow{
  color: $lightgreen;
  padding-right: 10px;
}

#content{
  position: relative;
  // margin: 5% 10%;
  width: 80%;
  // min-height: 100vh;
  margin: 3rem auto;
  .section-head{
    width: 100%;
    padding: 15px 0 80px 0;
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    h5 {
      font-size: 16px;
      line-height: 20px;
    }
    .green {
      color: $lightgreen;
      font-size: 18px;
    }
    a#back-button{
      color: $text !important;
      line-height: 20px;
    }
  }
}
.button {
  width: 15vw;
  height: 40px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
}
.green-button {
  @extend .button;
  background: linear-gradient(134.06deg, #00CBBE 0%, #007A4A 88.18%, #006F3B 100%);
  color: #fff;
  border: none;
}
.white-button {
  @extend .button;
  background: #fff;
  border: 2px solid $lightgreen;
  color: $lightgreen;
}
.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
  background: linear-gradient(90deg, #00CBBE 0%, #009B60 100%);

  a img{
    padding-top: 4px;
  }


}

#itemListTitles{
  border-bottom: 2px solid rgba(60, 59, 59, 0.05);
}

.list {
  padding-bottom: 1rem;
  ul li {
    width: 100%;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    position: relative;

    div {
      display: table;
      table-layout: fixed;
      width: 100%;
      overflow-wrap: break-word;
    }

    p {
      text-align: right;
      color: $text;
      font-size: 18px;
      line-height: 40px;
     }
  } ul li:first-child p:first-child {
    text-align: left !important;
  }
  a {
    text-decoration: none;
    display: block;
  }
  .list-item {
    box-sizing: border-box;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid rgba(60, 59, 59, 0.05);
    .item-name {
      color: $lightgreen;
      font-size: 20px;
      line-height: 40px;
      font-weight: 500;
    }

    .item-column {
      text-align: right;
      .edit {
        @extend .item-name;
        color: $yellow;
        text-align: right;
      }
      .delete {
        @extend .item-name;
        color: $jered;
        text-align: right;
      }
    }
  }
}
#pagination-container{
  // position: absolute;
  position: relative;
  // display: flex;
  bottom: 0;
  ul.pagination{
    display: flex;
      li, a, span{
        text-align: center;
        padding: 10px;
        color: $text;
        // width: 100%;
      }
      li.active span{
        color: $lightgreen;
        font-weight: bold;
      }
  }
}

#add {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,auto);
  grid-column-gap: 5%;
  grid-template-areas:
     "name number"
     "media media"
     "desc desc";
  .form-control {
    box-sizing: border-box;
    border: none;
    color: $lightgreen;
    border-bottom: 1px solid $text;
    width: 100%;
    font-size: 16px;
    // height: 100%;
  }
  textarea#desc.form-control {
    border: 1px solid $text;
    font-family: 'Medium';
    font-size: 16px;
    font-weight: 500;
    padding: 20px 20px 0 20px;
    // height: 100%;
  }
  textarea#desc.form-control.form-edit {
    height: 100%;
  }
  input#media.form-control {
    color: $yellow;
    font-weight: 100;
    padding-bottom: 10px;
  }
  p {
    color: $text;
    padding: 3% 0;
  }
  .add-name {
    grid-area: name;
  }
  .add-number {
    grid-area: number;
  }
  .add-media {
    grid-area: media;
    // margin-bottom: 30px;
  }
  .add-desc {
    grid-area: desc;
    // margin-bottom: 60px;
    margin-bottom: 30px;

  }
  button.green-button {
    justify-self: center;
    align-self: flex-end;
  }
  a.white-button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Medium';
    justify-self: center;
    align-self: flex-end;
    color: $jered;
    border-color: $jered;
  }
}
#edit {
  @extend #add;
  grid-row-gap: 30px;
  grid-template-areas:
     "name number"
     "desc media";
   .add-media{
     min-width: 0;
     min-height: 0;
     width: auto;
     height: auto;
    //  margin-bottom: 30px;
      .image-hover{
        position: relative;
        img{
          max-width: 370px;
          height: 100%;
          width: 100%;
          margin: 0 auto;
          display: block;
        }
      .edit-link{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        display: none;
        cursor: pointer;
        .links {
          top: 50%;
          left: 0;
          @include translate(0, -50%);
          width: 100%;
          margin: auto;
          position: absolute;
          display: block;
          text-align: center;
          input[type=file] {
            display:none;
            margin:10px;
          }
          label[for=media] {
            color: $lightgreen;
          }
          label, a {
            display: inline-block;
            font-family: 'Medium';
            font-size: 30px;
            padding: 0 30px;
            cursor: pointer;
            margin: 20px;
          }
          label {
            color: $yellow;
          }
          a {
            color: $jered;
          }
        }
      }
    }
    .image-hover:hover .edit-link {
      display:block;
      border: 1px solid $text;
      background-color: #fff;
      opacity: 0.9;
    }
  }
}



/*************** LOGIN PAGE *******************/

#content-con{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
#loginLogo{
  width: 150px;
  margin-bottom: 100px;
}

#forgotPassCon{
  margin-top: 20px;

  p{
    color: #ccc;
    font-size: 16px;
  }
}

#content-form{

  display: flex;
  width: 400px;
  display: block;
  margin: 0 auto;
}
.searchpart {
  margin-bottom: 10%;
  h1{
    color: $blue;
  }
}
#right-arrow{
  padding: 1px 2px;
  height: 9px;
  align-self: center;
  transform: rotate(-90deg);
}

.form-input{
    -webkit-appearance: textfield;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: none;
    border-color: #ccc;
    width: 300px;
    font-size: 16px;
    color: $blue;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.form-input::placeholder{
  font-family: 'Medium';
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 14px;
  color: $text;
}


.loginButt{
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  border: 2px solid;
  padding-top: 5px;
  width: 300px;
  height: 50px;
  font-family: 'Medium';
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 14px;
  margin-top: 100px;
  color: $blue;
}

.loginButt:hover{
  background-color: $blue;
  border: 2px solid $blue;
  color: #fff;
}
.errorMsg{
  color: $yellow;
}

.stepItem{
  margin-bottom: 100px;
}

.stepTitle{
  font-size: 25px;
  font-weight: bold;
  color: $blue;
  margin-bottom: 20px;
}
.stepDesc{
  font-size: 18px;
  line-height: 26px;
}

.stepNote{
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

.yellow{
  color: $yellow;
}

.stepImage{
  width: 100%;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
}

// Comments


.commentDate{
  display: inline;
  color: #999;
  font-size: 16px;
}

.commentItem{
  border-top: solid 1px #ddd;
  padding: 20px 0;

}

.commentAuth{
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  color: $blue;
}

.commentBody{
  clear: both;
  display: block;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
}

#commentField{
  width: 100%;
  height: 100px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#commentForm{
  margin-top: 50px;

  label{
    color: #aaa;
    font-size: 16px;
  }
}


#submitButt{
  background-color: $blue;
  height: 45px;
  display: grid;
  width: 160px;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: 'Book';
}

//Operator style
.top-left{
  a {
    float: right;
    color: $text;
    img{
      display: inline-block;
      float: left;
    }
    p{
      float: left;
      line-height: 2em;
      padding-left: 10px;
    }
  }
}


#comments{
  margin-bottom: 50px;
  height: 350px;
  overflow-y:scroll;
}

.contactLabel{
  color: #aaa;
  padding-bottom: 20px;

  p{
    margin-bottom: 10px;
  }
}

.contactInput{
  border-bottom: solid 2px #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 16px;
  color: $yellow;
  margin-bottom: 40px;
}

.contactInputMessage{
  border: solid 2px #ddd;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  color: $yellow;
  margin-top: 20px;
  margin-bottom: 30px;
}

#contactName{
  float:left;
  width: 40%;
}

#contactEmail{
  float: right;
  width: 50%;
}


#contactSubject{
  clear: both;
}

#sup-name-inpu{
  width: 40%;
}




#oplist{
  .grid-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10%;
    grid-row-gap: 30px;
    .item{
      border-radius: 10px;
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
      overflow: hidden;
      .item-media{
        img{
        height: auto;
        width: 100%;
        margin: 0 auto;
        }
        .item-desc{
          height: 5vw;
          max-width: 100%;
          display: block;
          background: $blue;
          color: #fff;
          padding: 5% 2% 5% 5%;
          h3{
            font-size: 2vw;
            line-height: 3vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
          }
          h4{
            font-size: 1.6vw;
            line-height: 2vw;
            font-family: 'Light';
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
          }
        }
      }
    }
  }
  #pagination-container{
    padding: 20px 0 0 0;
  }
}


#adminLogin{
  text-align:center;
  float: right;
  padding: 20px;
  img{
    width: 20px;
    margin-bottom: 10px;
  }
  p{
    font-size: 16px;
    line-height: 0px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
  }
}
//sass --watch css/sass/main.scss:css/main.css
