@import 'reset';
@import 'colours';
@import 'fonts';


a{
  text-decoration: none;
}

.hidden {
  display: none;
}
//Container Styling
#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
}


//Navigation Styling

#navcon{
  width: 28%;
  height: 100vh;
  display: grid;
  box-shadow: 0px 0px 15px #333333;

  nav{
    margin: 25px 0px 0px 0px;
  }

  nav ul a li{
    line-height: 60px;
    display: inline;
    padding-left: 30px;
  }

  nav ul a{
    display: block;
    color: $darkgrey;
    padding-left: 50px;
    background: none;
    box-shadow: none;
    display: flex;
    display: flex;
    align-items: center;
  }
}

#adminNav a:hover{
  background: linear-gradient(324.5deg, #006F3B 0%, #00937B 81.61%, #009782 91.08%, #009B89 100%);
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.15), 0 0 16px 0 rgba(0,0,0,0.23);
  color: #fff;

  .st0{
  fill:#ffffff;
  }

  .st1{
    stroke: #fff;
  }

}

.navicons{
  width: 30px;
}

.st0{
  fill:#A2A2A2;
}

.st1{
  fill:none;
  stroke:#A2A2A2;
  stroke-width:15;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  }


#fixture{
  fill: #fff;
}

#userinfo{
  display: grid;
  background: linear-gradient(134.06deg, #00CBBE 0%, #007A4A 88.18%, #006F3B 100%);
  padding: 20px;
  color: #fff;

  img, div{
    justify-self: center;
    text-align: center;
    align-self: center;
  }

  div p{
    font-family: 'Book';
    font-size: 16px;
    letter-spacing: 1px;
  }

}

.image-cropper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ffffff;
    padding: 1px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    img{
      height: 100%;
      width: auto;
    }
}

#search{
  justify-self: center; 
  display: flex;
  align-items: center;

  input{
    outline: none;
    height: 35px;
    font-size: 14px;
    width: 230px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 100px;
    border: solid 2px $lightgreen;
    background-color: rgba(243,76,24,0);
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.15);
  }
}

#searchfeild::placeholder{
  font-size: 14px;
  opacity: 0.5;
}

#searchicon{
  width: 16px;
  position: absolute;
  margin-left: 12px;

}

#leftarrow{
  height: 16px;
  margin-right: 10px;
}

#logout{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  p{
    color: #A2A2A2; 
    font-family: 'Medium';
    font-size: 16px; 
    line-height: 0px; 
    font-weight: 900; 
    letter-spacing: 1px;
    display: inline;
  }
}

#logoutArrow{
  color: $lightgreen;
  padding-right: 10px;
}

#content{
  padding: 5% 10%;
  .section-head{
    width: 100%;
    padding: 10% 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    h5 {
      font-size: 16px;
      line-height: 20px;
    }
    .green {
      color: $lightgreen;
      font-size: 18px;
    }
  }
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(134.06deg, #00CBBE 0%, #007A4A 88.18%, #006F3B 100%);
  i.fa.fa-plus.fa-2x {
    color: #fff;
  }
}
.list {
  ul li {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    p {
      text-align: right;
      color: $text;
      font-size: 18px;
      line-height: 40px;
     }
  } ul li p:first-child {
    text-align: left !important;
  }
  .tool-item {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(60,59,59,0.15);
    .item-name {
      color: $lightgreen;
      font-size: 20px;
      line-height: 40px;
      font-weight: 500;
    }
    a {
      text-decoration: none;
    }
    .edit {
      @extend .item-name;
      color: $yellow;
      text-align: right;
    }
    .delete {
      @extend .item-name;
      color: $jered;
      text-align: right;
    }
  }
}